
{% extends '_layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% load crispy_forms_tags %}

 {% block navheader %}
    {% include 'includes/navheader_employee_app.html' %}
 {% endblock %}



  {% block stylesheet %}
    .rounded-circle-image{
    border-radius: 50% !important;
    width:250px;
    height:250px;
  }

  .form-wrapper{
  background:#fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  padding-top: 2rem;
  padding-bottom: 2rem;

}


.list-group {
  margin-top: 10px;
}

span{
  color: #6f6f6f;
  font-weight: lighter;
  font-size: 16px;
}


{% comment %} .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
    font-size:17px;
} {% endcomment %}

  #override-start{
    background:none !important;
    top: 35% !important;
    right:13px;
    color:#000;
    font-size: 24px;

    }

    .alert-warning{
        background:#fd7b7b;
    }

    .alert-success {
        background-color: #82b72a;
    }

    .alert-success,.alert-warning{
        font-size:16px;
    }

    .employee-name-title{
    color: #3873b1;
    font-weight: 600;
    font-variant: petite-caps;
    font-size: 3.1rem !important;
  }

  span,.list-group-item > div{
  font-variant: petite-caps;
}


.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #2d88a9 !important;
}

.panel-title a:hover{
  color:#e6e4e4;
}

.panel-title a:active{
  color:#e6e4e4;
}

.panel-title a:focus{
  color:#e6e4e4;
}
.blue-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.gray-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 2px 5px;
  border-radius: px;
  cursor: pointer;
}

  {% endblock %}


  

 {% block content %}
        <section class="content">
            <section class="container-fluid">
           
                <section class="form-wrapper">
                    <section class="row">
                        <section class="col col-lg-8 col-md-12  col-sm-12">

                            {% if messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                         {{ message }}
                                         <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    {% endfor %}
                            {% endif %}


                            

                        </section>
                    </section>

                    <section class="row">
                        <section class="col-lg-12 col-md-12 col-sm-12 text-center space-margin">
                            <h3 class="title-h3">{{ employee.get_full_name }}</h3>
                        </section>
                    </section>

                    <section class="row">
                        <section class="col-lg-4 text-center">
                          <img src="{{ employee.image.url}}"  class="img-fluid rounded-circle-image">
                        </section>
                        <section class="col-lg-8 col-md-12 col-sm-12">
                          
                                    <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Employee's Name:</span> <div><b>{{ employee.get_full_name }}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Start Date:</span> <div> <b>{{ leave.startdate }}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="" role="tab" aria-controls=""><span>End Date:</span><div><b>{{ leave.enddate}}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Newly Adjusted End Date:</span><div><b>{{ adjusted_end_date}}</b></div>

                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Duration:</span> <div><b>{{ leave.leave_days}}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Type:</span> <div><b>{{ leave.leavetype}}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Reason:</span> <div><b>{{ leave.reason}}</b></div>
                                            </a>
                                             <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Status:</span> <div><b>{{ leave.status}}</b></div>         

                                              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Holiday Name:</span> <div><b>{{ holiday.holiday_name }}</b></div>
                                              </a>

                                              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Holiday Date:</span> <div><b>{{ holiday.holiday_date }}</b></div>
                                              </a>
                                              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Holiday Type:</span> <div><b>{{ holiday.holiday_type }}</b></div>
                                              </a>



                                              {% comment %} <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>New Holiday Name:</span> <div><b> {{ holidays }}</b></div>
                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>New Holiday Date:</span> <div><b>{{ holiday.holiday_date }}</b></div>          {% endcomment %}

                                                  <!-- Your existing template code... -->
                                                  {% comment %} {% if holiday_name and holiday_date and holiday_type %} {% endcomment %}
                                                  {% comment %} <div class="list-group">
                                                      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls="">
                                                          <span>Name:</span> <div><b>{{ holiday_name }}</b></div>
                                                      </a>
                                                      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls="">
                                                          <span>Type:</span> <div><b>{{ holiday_type }}</b></div>
                                                      </a>
                                                      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls="">
                                                          <span>Date:</span> <div><b>{{ holiday_date|date:"F d, Y" }}</b></div>
                                                      </a>
                                                  </div> {% endcomment %}
                                              {% comment %} {% endif %} {% endcomment %}
                                              
<!-- Your existing template code... -->

                                                    <!-- Your existing template code... -->



                                           <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Default Annual Leave Days:</span> <div><b> {{ leave.default_annual_leave_days }} </b></div>
                                          
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Carried Forward Days: </span><div> <b>{{ carried_forward_days }}</b></div>
                                                {% comment %} <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Total Leave Days Remaining:</span> <div><b> {{ total_leave_days_remaining }} </b></div> {% endcomment %}

                                                  
                                            <!-- Inside the leave_detail_view template -->
                                            <form>
                                              {% csrf_token %}
                                              <!-- Other fields -->
                                              <div class="form-group">
                                                  <label for="carried_forward_days">Days Carried Forward</label>
                                                  <input type="number" id="carried_forward_days" name="carried_forward_days" value="{{ carried_forward_days }}" editable>
                                              </div>
                                              <!-- Other fields and buttons -->
                                            </form>


                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Total Leave Days Available:</span> <div><b> {{ total_leave_days_available }}</b></div>
                                            

                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Total Leave Days Taken: </span> <div><b> {{ leave.total_leave_days_taken }} </b></div>
                                              
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Total Leave Days Remaining:</span> <div><b> {{ total_leave_days_remaining }} </b></div>
                                            </a>

{% comment %} 
                                               {% if is_staff %} 
                                                    {% if leave.enddate != adjusted_end_date %}
                                                      <p>End Date: {{ adjusted_end_date }} <span style="color: green;">(Adjusted)</span></p>
                                                    {% else %}
                                                      <p>End Date: {{ leave.enddate }} <span style="color: gray;">(Original date)</span></p>
                                                    {% endif %}
                                                    <form method="post" action="{% url 'dashboard:update_leave_end_date' leave.id %}">
                                                      {% csrf_token %}
                                                      <label for="enddate">Edit End Date:</label>
                                                      <input type="date" name="enddate" value="{{ leave.enddate }}">
                                                      <button type="submit" class="btn btn-info">Update</button>
                                                    </form>
                                                    {% if error_message %}
                                                      <p>{{ error_message }}</p>
                                                    {% endif %}
                                                {% endif %} {% endcomment %}


                                                <!-- Your template content -->
                                                  {% if is_staff %}
                                                  <p>End Date: {{ leave.enddate }}</p> 
                                                  <form method="post" action="{% url 'dashboard:update_leave_end_date' leave.id %}">
                                                      {% csrf_token %}
                                                      <label for="enddate">Edit End Date:</label>
                                                      <input type="date" name="enddate" value="{{ leave.enddate }}">
                                                      <button type="submit" class="btn btn-info">Update</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<a href="{% url 'dashboard:add_holiday' leave.id %}" class="btn btn-info">Add A New Holiday</a>

                                                    </form>
                                                      {% if error_message %}
                                                        <p>{{ error_message }}</p>
                                                      {% endif %}
                                                {% endif %}
                                                  <!-- Other template content -->

                        
                                                    

                                      </div>

                        </section>
                    </section>


                             
                                  <span style="font-size: 13px;padding-left: 1rem;" class="pull-left">Created <b>{{ leave.created }}</b></span>
              
                  {% if request.user.is_staff and not request.user.is_superuser %}
                        {%if leave.is_recommended %}
                            {% comment %} <a href="{% url 'dashboard:userleaverecommend' leave.id %}" class="btn btn-primary" style="background-color:grey; color: white;" name='approve'>Recommend</a> {% endcomment %}
                        {% endif %}
                  {% endif %}

              {% if request.user.is_superuser %}
                  <section class="row">
                      <section class="col col-lg-4 col-sm-12 col-lg-offset-5 text-center">
                          <div class="btn-group btn-group-justified">
                              {% if leave.leave_approved %}
                                  <a href="{% url 'dashboard:userleaveunapprove' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='unapprove'>Decline</a>
                              {% else %}
                                  {% comment %} <a href="{% url 'dashboard:userleaveapprove' leave.id %}" class="btn btn-success" style="background-color:green; color: white;" name='approve'>Approve</a> {% endcomment %}
                                  <a href="{% url 'dashboard:userleavecancel' leave.id %}" class="btn btn-info" style="background-color:rgb(0, 142, 185); color: white;" name='cancel'>Cancel</a>
                                  {% comment %} <a href="{% url 'dashboard:edit_leave' leave.id %}" class="btn btn-primary" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>Edit</a> {% endcomment %}
                                  <a href="{% url 'dashboard:reject' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>Reject</a>
                              {% endif %}
                             
                              {% comment %} {% if leave.leave_pending %}
                              <a href="{% url 'dashboard:userleaveapprove' leave.id %}" class="btn btn-success" style="background-color:green; color: white;" name='approve'>&nbsp;Approve</a>

                              {% else %}
                              <a href="{% url 'dashboard:userleaveunapprove' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='unapprove'>Decline</a>
                              {% endif %} {% endcomment %}
                          </div>
        </section>
    </section>
{% elif request.user.is_staff %}
    <section class="row">
        <section class="col col-lg-4 col-sm-12 col-lg-offset-7 text-center">
            <div class="btn-group btn-group-justified">
                {% if leave.leave_approved %}
                {% comment %} &nbsp; {% endcomment %}
                    {% comment %} <a href="{% url 'dashboard:userleaveunapprove' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='unapprove'>Decline</a> {% endcomment %}
                {% endif %}
                <a href="{% url 'dashboard:userleaverecommend' leave.id %}" class="btn btn-gray-button " style="background-color:grey; color: white;" name='approve'>Recommend</a>
                <a href="{% url 'dashboard:userleavecancel' leave.id %}" class="btn btn-info" style="background-color:rgb(0, 142, 185); color: white;" name='cancel'>Cancel</a>
                {% comment %} <a href="{% url 'dashboard:edit_leave' leave.id %}" class="btn btn-primary" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>Edit</a> {% endcomment %}
                <a href="{% url 'dashboard:reject' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>Reject</a>
            </div>
        </section>
    </section>
{% endif %}

            
              {% comment %} {% if request.user.is_superuser or request.user.is_staff %}
                    <section class="row">
                      <section class="col col-lg-4 col-sm-12 col-lg-offset-7 text-center">
                        <div class="btn-group btn-group-justified">
                          {%if leave.leave_approved %}
                          <a href="{% url 'dashboard:userleaveunapprove' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='unapprove'>Decline
                          </a>
                        
                          {% else %}
                          
                          <a href="{% url 'dashboard:userleaveapprove' leave.id %}" class="btn btn-success" style="background-color:green; color: white;" name='approve'>&nbsp;Approve</a>
                          {% endif %}
                          <a href="{% url 'dashboard:userleavecancel' leave.id %}" class="btn btn-info" style="background-color:rgb(0, 142, 185); color: white;" name='cancel'>Cancel</a>
                          <a href="{% url 'dashboard:edit_leave' leave.id %}" class="btn btn-primary" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>Edit</a>
                          <a href="{% url 'dashboard:reject' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>Reject</a>
                        </div>
       
                      </section>
                    </section>

              {% endif %} {% endcomment %}

                </section>

            </section> <!-- /container --> 
        </section>
        {% comment %} <div class="holiday-details">
          {% include 'dashboard/add_holiday.html' %}
      </div> {% endcomment %}
 {% endblock %}

<script type="text/javascript">
{% block extrajs%}

{% endblock %}
</script>